<div class="body-container">
  <div class="col-md-4">
    <center>
      <br>
      <% if logged_in? %>
        <h1><%= t ".join" %></h1>
        <%= link_to t(".chatnow"), chatrooms_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <h1><%= t ".join" %></h1>
        <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </center>
  </div>
  <div class="col-md-8">
    <br>
    <center>
      <%= image_tag "/assets/bg_vision.jpg", class: "img-responsive" %>
    </center>
  </div>
</div>
