<h1><%= t ".chatroom" %></h1>
<table>
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %><td>
        <td><%= link_to t(".show"),chatroom %><td>
        <% if owner_chatroom(chatroom) %>
          <td><%= link_to t(".edit"), "#" %><td>
          <td><%= link_to t(".destroy"),chatroom_path(chatroom), method: :delete, data: { confirm: t(".confirm_delete") } %><td>
        <% end %>
        <td><%= link_to t(".join"), "#", method: :post %><td>
        <td><%= link_to t(".leave"), "#", method: :delete %><td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t(".new_chatroom"), new_chatroom_path %>
