<div class="body-container">
<div class="container">
    <div class="row profile">
    <div class="col-md-4">
      <div class="profile-sidebar">
        <center><%= image_tag("default-user.png", class: "img-responsive img-circle") %></center>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.name %>
          </div>
        </div>
        <li>
          <i class="glyphicon glyphicon-envelope"></i>
          <%= @user.email %>
        </li>
        <li>
          <i class="glyphicon glyphicon-earphone"></i>
          <%= @user.phone_number %>
        </li>
        <div class="profile-userbuttons">
          <%= link_to "#" do %>
            <button type="button" class="btn btn-success btn-sm"><%= t ".add-friend" %></button>
          <% end %>
          <%= link_to "#" do %>
            <button type="button" class="btn btn-danger btn-sm"><%= t ".message" %></button>
          <% end %>
          <%= link_to users_path do %>
            <button type="button" class="btn btn-primary btn-sm"><%= t ".back" %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
