<div class="body-container">
  <center><%= t ".friendrequest" %><br>
  <div class="col-md-6">
    <%= t ".incoming" %> (
    <%= @incoming.count %>)<br>----------<br>
    <ul class="list-group" id="contact-list">
      <li class="list-group-item">
        <% @incoming.each do |f| %>
          <%= link_to user_path(f.friend_id) do %>
            <div class="col-md-8">
              <div class="col-xs-12 col-md-3">
                <%= image_tag "/assets/default-user.png", alt: User.find(f.friend_id).name, class: "img-responsive"  %>
              </div>
              <div class="col-xs-12 col-md-8">
                <span class="name"> <%= User.find(f.friend_id).name%></span>
              </div>
            </div>
            <div class="col-md-4">
              <%= link_to t(".accept"),friend_request_path(f.id, f.friend_id), method: :put, class: "btn btn-success btn-sm" %>
              <%= link_to t(".cancel"), friend_request_path(f.id), method: :delete, data: {confirm: t("sure?")}, class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <%= t ".outgoing" %> (
    <%= @outgoing.count %>)<br>----------<br>
    <ul class="list-group" id="contact-list">
      <li class="list-group-item">
        <% @outgoing.each do |f| %>
          <%= link_to user_path(f.friend_id) do %>
            <div class="col-md-8">
              <div class="col-xs-12 col-md-3">
                <%= image_tag "/assets/default-user.png", alt: User.find(f.friend_id).name, class: "img-responsive"  %>
              </div>
              <div class="col-xs-12 col-md-8">
                <span class="name"> <%= User.find(f.friend_id).name%></span>
              </div>
            </div>
            <div class="col-md-4">
              <%= link_to t(".cancel"), friend_request_path(f.id), method: :delete, data: {confirm: t("sure?")}, class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</center>
