<!DOCTYPE html>
<html>
  <head>
    <title>ROe13Chatroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "logo.ico" %>
  </head>
  <body>
    <%= render "layouts/not_resize_page" %>
    <div class="container content clearfix">
      <div class="row error-box">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>
      <%= render "layouts/header" %>
      <div class="body-container app">
        <div class="row">
          <div class="col-md-3 side">
            <%= render "layouts/chatrooms_list" %>
          </div>
          <div class="col-md-9 conversation">
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
